#contenedor-login{
    display: grid;
    justify-items: center;      
    background-color: rgba(255, 255, 255, 0.315);    
    width: 300px;      
    margin-top: 70px;

}

#contenedor-principal{
    display : grid;
    justify-items: center;        
}